.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  button{
      padding: 10px 15px;
      width: calc(100%);
      background: var(--main-red);
      border: none;
      color: #fff;
    }
        form{
      text-align: center;
      max-width: 460px;
      width: calc(100% - 40px);
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      margin: auto;
    }
    form h3{
      margin: 5px 0;
    }
    form input{
      padding: 7px 10px;
      width: calc(100% - 22px);
      margin-bottom: 10px;
    }
    form button{
      padding: 10px 15px;
      width: calc(100%);
      background: var(--main-red);
      border: none;
      color: #fff;
    }
    form p{
      margin: 0;
      margin-bottom: 5px;
      color: var(--main-red);
      font-size: 14px;
    }
.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
  opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
  font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
  background-color: #d1d3d6;
}

.nav-tabs{
  border-bottom:0px;
}